body {
    padding: 0 5px;
}

input[type=text] {
    margin: 5px 0;
}

.validation {
    padding: 1px 0 10px 0;
    margin: 5px 0;
    background: #6E6;
}

.message-error {
    display: none;
    background: #F77;
    line-height: 2em;
}

.message-success {
    display: none;
    background: #6E6;
    line-height: 2em;
}

.age {
    padding: 1px 4px 1px 1px;
    border: 2px solid transparent;
}

.highlighted {
    border: 2px solid red;
}

